
<app-client-db-header></app-client-db-header>

<main class="comon_main internal_pages_prnt">
	<div class="cmn-pading-top cl-dash">
    	<section class="client_post_job talent-profile client-dashboard">
    		<div class="d-flex">
    			<!-- <app-talent-sidebar></app-talent-sidebar> -->
    			<div class="main-cntnt">   <!-- geting-strt -->
    				<div class="inside-wrapr">
                        <div class="search fltr-btns d-flex">
                            <div class="wrp-search d-flex">
                                <input type="text" class="mr-2" placeholder="Search.....">
                                <div class="form-group dropdwn">
                                     <ngx-select-dropdown></ngx-select-dropdown>
                                </div>
                                <a class="btn btn_theme_blue">Search</a>
                            </div>
                            <div class="fltr-btns">
                                <div class="form-group dropdwn">
                                     <ngx-select-dropdown></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>
                        <section class="top-cards">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card"> <!-- blue-card -->
                                        <div class="crd-cntnt d-flex align-items-start justify-content-between">
                                            <i class="icofont-briefcase"></i>
                                            <div class="text-right">
                                                <span>Number of Projects</span>
                                                <h5>16</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="crd-cntnt d-flex align-items-start justify-content-between">
                                            <i class="icofont-business-man"></i>
                                            <div class="text-right">
                                                <span>Total Contract Values</span>
                                                <h5>135000</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="crd-cntnt d-flex align-items-start justify-content-between">
                                            <i class="icofont-dollar"></i>
                                            <div class="text-right">
                                                <span>Total Expenses</span>
                                                <h5>92000</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="crd-cntnt d-flex align-items-start justify-content-between">
                                            <i class="icofont-business-man"></i>
                                            <div class="text-right">
                                                <span>Number of Talents</span>
                                                <h5>14</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="charts-wrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-main">
                                        <h6 class="crd-top-title">Expense-Contract Type</h6>
                                        <div id="chartdiv2" class="chart-div"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-main">
                                        <h6 class="crd-top-title">Expenses-Project</h6>
                                        <div id="chartdiv" class="chart-div"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="charts-wrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card card-main">
                                        <h6 class="crd-top-title">Projects By- Discipline</h6>
                                        <div id="chartdiv4" class="chart-div"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="charts-wrap map-chart">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card card-main">
                                        <h6 class="crd-top-title">Talent Location</h6>
                                        <div id="chartdiv3" class="chart-div"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="notes-wrap">
                                        <div class="card card-main">
                                            <h6 class="crd-top-title d-flex justify-content-between align-items-center">
                                                Make a Note
                                                <span class="add-note" data-toggle="modal" data-target="#addNote"><i class="fas fa-plus"></i></span>
                                            </h6>
                                            <ul class="notes-list">
                                                <li class="d-flex justify-content-between">
                                                    <span>Discussion with Mr. Jacob James</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span>Meeting with Talent at 12: 30 PM via Zoom</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span>Milestone tracking work is pending</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span>Discussion with Mr. Jacob James</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span>Meeting with Talent at 12: 30 PM via Zoom</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span>Milestone tracking work is pending</span>
                                                    <span class="add-note" data-toggle="modal" data-target="#editNote"><i class="fas fa-pencil"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- <section class="chat-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="users-listng client_header">
                                        <div class="card card-main">
                                            <div class="srch-input mb-3 position-relative">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <img src="assets/imgs/loupe.png" class="img-fluid" alt="search" />
                                            </div>
                                            <ul class="chat-list">
                                                <li class="singl-list active d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                                <li class="singl-list d-flex">
                                                    <img src="assets/imgs/p11.jpg" class="img-fluid">
                                                    <div class="about-usr">
                                                        <p class="usr-name">Martha Williams</p>
                                                        <p class="usr-status"><span></span> Online</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="chat-wrpr">
                                        <div class="card card-main">
                                            <ul class="chat-body">
                                                <li class="chat chat-right d-flex justify-content-end">
                                                    <div class="chat-content">
                                                        <p>Hello. What can I do for you?</p>
                                                        <span class="chat-time">8:30 am</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chat-line">
                                                        <span class="chat-date text-right">October 8th, 2015</span>
                                                    </div>
                                                </li>
                                                <li class="chat chat-left d-flex justify-content-start">
                                                    <div class="chat-avatar">
                                                        <a class="avatar">
                                                            <img src="assets/imgs/p11.jpg" class="img-fluid rounded-circle">
                                                        </a>
                                                    </div>
                                                    <div class="chat-content">
                                                        <p>I'm just looking around.</p>
                                                        <p>Will you tell me something about yourself? </p>
                                                        <span class="chat-time">8:35 am</span>
                                                    </div>
                                                </li>
                                                <li class="chat chat-right d-flex justify-content-end">
                                                    <div class="chat-content">
                                                        <p>Hello. What can I do for you?</p>
                                                        <span class="chat-time">8:30 am</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chat-line">
                                                        <span class="chat-date text-right">October 8th, 2015</span>
                                                    </div>
                                                </li>
                                                <li class="chat chat-left d-flex justify-content-start">
                                                    <div class="chat-avatar">
                                                        <a class="avatar">
                                                            <img src="assets/imgs/p11.jpg" class="img-fluid rounded-circle">
                                                        </a>
                                                    </div>
                                                    <div class="chat-content">
                                                        <p>I'm just looking around.</p>
                                                        <p>Will you tell me something about yourself? </p>
                                                        <span class="chat-time">8:35 am</span>
                                                    </div>
                                                </li>
                                                 <li class="chat chat-right d-flex justify-content-end">
                                                    <div class="chat-content">
                                                        <p>Hello. What can I do for you?</p>
                                                        <span class="chat-time">8:30 am</span>
                                                    </div>
                                                </li>
                                                 <li class="chat chat-right d-flex justify-content-end">
                                                    <div class="chat-content">
                                                        <p>Hello. What can I do for you?</p>
                                                        <span class="chat-time">8:30 am</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="input-box">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div class="fprm-group">
                                                            <input type="text" class="form-control" placeholder="Write your message here...">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <div class="send-icns">
                                                            <i class="fas fa-paper-plane"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> -->
                        <section class="upcoming-milestones">
                            <div class="card card-main">
                                <h6 class="crd-top-title">Due Payments</h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="d-flex justify-content-between">
                                                    <div class="title">
                                                        <h6>Completing Design Stages</h6>
                                                        <p class="ml-name">Discussion with Mr. Mrquices</p>
                                                    </div>
                                                    <div class="icn-sm">
                                                        <i class="icofont-spinner-alt-2"></i>
                                                    </div>
                                                </div>
                                                <p class="ml-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus minus numquam nemo natus at porro.
                                                </p>
                                                <p>Due Date: <strong>24 April, 2021</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="proposals-interviews">
                            <div class="card card-main">
                                <h6 class="crd-top-title">Proposals & Interviews</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="cntnt-wrap d-flex justify-content-between">
                                                <div class="">
                                                    <p class="prp-title">Mr. Sam submitted the proposal on Planning & Scheduling</p>
                                                    <p class="gray-text">Today 5:15 PM, 12-04-2021</p>
                                                </div>
                                                <div>
                                                    <a routerLink="/view-proposal" class="btn btn_theme_blue">View Proposal</a>
                                                </div>
                                            </div>
                                            <div class="cntnt-wrap d-flex justify-content-between">
                                                <div class="">
                                                    <p class="prp-title">Mr. Sam submitted the proposal on Planning & Scheduling</p>
                                                    <p class="gray-text">Today 5:15 PM, 12-04-2021</p>
                                                </div>
                                                <div>
                                                    <a routerLink="/view-proposal" class="btn btn_theme_blue">View Proposal</a>
                                                </div>
                                            </div>
                                            <div class="cntnt-wrap d-flex justify-content-between">
                                                <div class="">
                                                    <p class="prp-title">Mr. Sam submitted the proposal on Planning & Scheduling</p>
                                                    <p class="gray-text">Today 5:15 PM, 12-04-2021</p>
                                                </div>
                                                <div>
                                                    <a routerLink="/view-proposal" class="btn btn_theme_blue">View Proposal</a>
                                                </div>
                                            </div>
                                            <div class="cntnt-wrap d-flex justify-content-between">
                                                <div class="">
                                                    <p class="prp-title">Mr. Sam submitted the proposal on Planning & Scheduling</p>
                                                    <p class="gray-text">Today 5:15 PM, 12-04-2021</p>
                                                </div>
                                                <div>
                                                    <a routerLink="/view-proposal" class="btn btn_theme_blue">View Proposal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="top-clients">
                            <div class="card card-main">
                                <h6 class="crd-top-title">CONSTAL Top Clients</h6>
                                <owl-carousel-o [options]="clients_slider">
                                    <ng-template carouselSlide>
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="client-img">
                                                    <img src="assets/imgs/profile.png" class="img-fluid">
                                                    <span class="ratng-spn"><i class="fas fa-star"></i> 4.4</span>
                                                </div>
                                                <div class="rtng-cntnt">
                                                    <h6>Kevin Adrian</h6>
                                                    <p class="gray-text client-desg">Civil Engineer</p>
                                                    <p><i class="fas fa-map-marker-alt"></i> London, England</p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="client-img">
                                                    <img src="assets/imgs/profile.png" class="img-fluid">
                                                    <span class="ratng-spn"><i class="fas fa-star"></i> 4.4</span>
                                                </div>
                                                <div class="rtng-cntnt">
                                                    <h6>Kevin Adrian</h6>
                                                    <p class="gray-text client-desg">Civil Engineer</p>
                                                    <p><i class="fas fa-map-marker-alt"></i> London, England</p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="client-img">
                                                    <img src="assets/imgs/profile.png" class="img-fluid">
                                                    <span class="ratng-spn"><i class="fas fa-star"></i> 4.4</span>
                                                </div>
                                                <div class="rtng-cntnt">
                                                    <h6>Kevin Adrian</h6>
                                                    <p class="gray-text client-desg">Civil Engineer</p>
                                                    <p><i class="fas fa-map-marker-alt"></i> London, England</p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="client-img">
                                                    <img src="assets/imgs/profile.png" class="img-fluid">
                                                    <span class="ratng-spn"><i class="fas fa-star"></i> 4.4</span>
                                                </div>
                                                <div class="rtng-cntnt">
                                                    <h6>Kevin Adrian</h6>
                                                    <p class="gray-text client-desg">Civil Engineer</p>
                                                    <p><i class="fas fa-map-marker-alt"></i> London, England</p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="card shd-cards">
                                            <div class="cntnt-wrap">
                                                <div class="client-img">
                                                    <img src="assets/imgs/profile.png" class="img-fluid">
                                                    <span class="ratng-spn"><i class="fas fa-star"></i> 4.4</span>
                                                </div>
                                                <div class="rtng-cntnt">
                                                    <h6>Kevin Adrian</h6>
                                                    <p class="gray-text client-desg">Civil Engineer</p>
                                                    <p><i class="fas fa-map-marker-alt"></i> London, England</p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </section>
    				</div>
    			</div>
    		</div>
    		
    	</section>
    </div>

</main>
<div class="cl-footer">
    <app-footer></app-footer>
</div>


<!-- add note modal -->
<div class="modal fade add-service" id="addNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <!-- <label>Make a note</label> -->
                        <textarea type="text" class="form-control" placeholder="Write your note here..." rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn_modal_black" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn_modal_blue">Add Note</button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit note modal -->
<div class="modal fade add-service" id="editNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <!-- <label>Make a note</label> -->
                        <textarea type="text" class="form-control" rows="3">Meeting with Talent at 12: 30 PM via Zoom</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn_modal_black" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn_modal_blue">Save Changes</button>
        </div>
      </div>
    </div>
  </div>