<app-header></app-header>

<main class="comon_main internal_pages_prnt">
	<div class="cmn-pading-top">
		<section class="user-profile user-login forgot-password d-flex align-items-center">
			<div class="custom_container">
				<div class="card_socal">
					<div class="row align-items-center">
						<div class="col-sm-12 p-0">
							<div class="right-part">
								<div class="txt_card">
									<h3>Forgot Password?</h3>
									<p>Don’t worry! We have got you covered, Just enter
									your email address & we will send a link
									to reset the password.</p>
								</div>
								<div class="input-flds">
									<form [formGroup]="form">
										<div class="row">
											<div class="col-sm-12">
											      <div class="form-group input-group input-border-green">
											        <div class="input-group-prepend">
											          <span class="input-group-text" id="inputGroupPrepend3">
											          	<img src="assets/imgs/@.png" class="img-fluid">
											          </span>
											        </div>
											        <input oninput="this.value=this.value.trim()" type="text" formControlName="email" placeholder="Email" class="form-control is-invalid" id="validationServerUsername" value="james_fred@gmail.com" aria-describedby="inputGroupPrepend3">
													<div *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid && form.get('email').errors.required" class="invalid-feedback">
														*Please enter Email
													</div>
													<div *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid && form.get('email').errors.email" class="invalid-feedback">
														*Please enter valid email
													</div>
													<div *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid && form.get('email').errors.pattern && !form.get('email').errors.email" class="invalid-feedback">
														*Please enter valid email
													</div>
												</div>
											</div>
										</div>
										<div class="submit-btn btn-width">
											<button [disabled]="!form.valid" (click)="forgotPassword()" class="btn btn_theme_green my-2 my-sm-0">
												
												<span *ngIf="!isLoading">
													Send Link
												</span>										
												
												<div *ngIf="isLoading" class="uploader-status" id="spin">
													<mat-spinner diameter="30"></mat-spinner>
												</div>
											</button>
										</div>
										<p class="already-acnt text-center mb-0">Already have an Account? <a routerLink="/talent-login"><span class="green_text"> Back to Login</span></a></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</main>

<app-footer></app-footer>