<div class="loading">Please Wait</div>


<!-- modal_restricted -->
<div class="modal fade restrctd_modal" id="rstrd_mod" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLongTitle">Access Restricted</h5> -->
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="modal_srtcd">
                        <h3>
                            Your Profile is under Review.
                        </h3>
                        <!-- <button class="btn btn btn_theme_green">Log Out</button> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal_rejected -->
  <div class="modal fade ops_modal" id="oops_mod" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Sorry!</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="modal_oosp">
                        <h3>
                            Your profile was not approved. Kindly re-submit your application after 6 months to apply again.
                        </h3>
                        <!-- <a class="btn btn btn_theme_green">Update Profile</a> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>