<div class="home_header">
	<app-intro-header></app-intro-header>
</div>
<div class="main_outer home_page intro-page">
	<div class="padding_internal">
		<section class="main-sec d-flex align-items-center">
			<div class="container">
				<div class="inside_sec">
					<div class="row">
						<div class="col-sm-7">
							<div class="left-cntnt">
								<p class="title">Remote construction as it should be</p>
								<ul>
									<li><strong>Be Free: </strong> Run your own business and choose your own clients and projects</li>
									<li><strong>Be Independent: </strong> Create your remarkable reputation in the construction market</li>
									<li><strong>Be Secure: </strong> High reliable pay</li>
								</ul>
								<a class="btn btn_theme_green header-butns" routerLink="/signup-talent">Apply to CONSTAL</a>
							</div>
						</div>
						<!-- <div class="col-sm-5">
							<img class="img-fluid intro-img" src="assets/imgs/sft.png">
						</div> -->
					</div>
				</div>
			</div>
		</section>
		<!-- <div class="companies-list d-flex align-items-center">
			<p>Trusted by leading brands and startups</p>
			<div class="listing">
				<span>
					<img src="assets/imgs/aecomm2.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/amana.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/hochtief.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/rta.jpeg" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/hill.png" alt="logo" class="img-fluid">
				</span>
			</div>
		</div> -->
		<section class="our-features">
			<div class="container">
				<div class="featr-wrp">
					<h4 class="sec-title">A community of experts focused on your success</h4>
					<div class="row">
						<div class="col-sm-6 border-bottom">
							<div class="singl-featr">
								<img src="assets/imgs/project-management.png" class="img-fluid">
								<div class="cntnt">
									<h6>CONSTAL’s Technology makes it easy</h6>
									<p>Use CONSTAL to set up your business, find your
									clients, control your own work and get paid reliably</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 border-left border-bottom">
							<div class="singl-featr">
								<img src="assets/imgs/gift.png" class="img-fluid">
								<div class="cntnt">
									<h6>Great work is rewarded</h6>
									<p>Your awesome work experiences are recorded and
									will lead to more work and more clients.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="singl-featr">
								<img src="assets/imgs/goal.png" class="img-fluid">
								<div class="cntnt">
									<h6>Grow your Independent career</h6>
									<p>You’ll learn how to grow your Independent career
									and bring your Independent business to the next level</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 border-left">
							<div class="singl-featr">
								<img src="assets/imgs/privacy.png" class="img-fluid">
								<div class="cntnt">
									<h6>Keep it Confidential!</h6>
									<p>Your Profile will only be seen according to your
									preferences</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="landng-image-bg image-light position-relative how_it_works" id="target">
				<div class="container">
					<div class="sec-heading light mx-auto">
						<h2 class="text-white">How it Works?</h2>
						<p>The potential to gain control over your work and your life, to embrace your passions
						without compromise.</p>
					</div>
					<div class="how_it_works">
						<img src="assets/imgs/how-it-works.png" class="img-fluid horiz-image">
						<img src="assets/imgs/how_it_works_vert.png" class="img-fluid vert-image">
					</div>
				</div>
		</section>
		<section class="our-benefits">
			<div class="container">
				<h4 class="sec-title">What are the Benefits?</h4>
				<div class="beneft-wrpp card">
					<div class="row">
						<div class="col-sm-6 pr-0">
							<div class="left-imge">
								<img src="assets/imgs/wrk-home.jpg" class="img-fluid">
							</div>
						</div>
						<div class="col-sm-6 pl-0">
							<div class="right-cntnt bg-clr">
								<h5>EMBRACE YOUR PASSION</h5>
								<ul class="benefits-list">
									<li><i class="fas fa-chevron-right"></i> Independent Work Opportunities</li>
									<li><i class="fas fa-chevron-right"></i> Career Path Development</li>
									<li><i class="fas fa-chevron-right"></i> Work-Life Balance</li>
									<li><i class="fas fa-chevron-right"></i> Equal Opportunities</li>
									<li><i class="fas fa-chevron-right"></i> AI Powered Matching</li>
									<li><i class="fas fa-chevron-right"></i> Payment Protection</li>
								</ul>
								<div class="bg-imag-abs">
									<img src="assets/imgs/infographic.png" class="img-fluid">
								</div>
								<div class="btm-line">
									<p>Build your Career with CONSTAL</p>
									<a class="btn btn_theme_green" routerLink="/signup-talent">Apply to CONSTAL</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-testimonials position-relative">
			<div class="container">
				<div class="test-slidr">
					<owl-carousel-o [options]="testimonial_slider">
						<ng-template carouselSlide>
							<div class="slidr-wrap text-center">
								<div class="invert-spn">"</div>
								<p class="main-cnt">CONSTAL is an exclusive network of the world's top talent in construction. We provide access to top companies, a community of experts, tools and resources that
								can help accelerate your career.</p>	
								<!-- <div class="test-img d-flex align-items-center">
									<img src="assets/imgs/profile.jpeg" class="img-fluid">
									<span class="test-name">CONSTAL Board</span>
								</div>	 -->
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slidr-wrap text-center">
								<div class="invert-spn">"</div>
								<p class="main-cnt">CONSTAL is an exclusive network of the world's top talent in construction. We provide access to top companies, a community of experts, tools and resources that
								can help accelerate your career.</p>	
								<!-- <div class="test-img d-flex align-items-center">
									<img src="assets/imgs/userr.png" class="img-fluid">
									<span class="test-name">CONSTAL Board</span>
								</div>	 -->
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slidr-wrap text-center">
								<div class="invert-spn">"</div>
								<p class="main-cnt">CONSTAL is an exclusive network of the world's top talent in construction. We provide access to top companies, a community of experts, tools and resources that
								can help accelerate your career.</p>	
								<!-- <div class="test-img d-flex align-items-center">
									<img src="assets/imgs/profile.png" class="img-fluid">
									<span class="test-name">CONSTAL Board</span>
								</div>	 -->
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
			</div>
		</section>
		
		<footer class="home_footer">
			<div class="footer-area-bg"></div>
			<div class="footer-top-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 top-social-icns">
							<div class="ftr-cntnt">
								<div class="footer-logo">
									<a><img src="assets/imgs/Constal.png" class="img-fluid"></a>
								</div>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur aning elit, sed do eiusmod tempor incididunt ut laborea Lorem ipsum dolor sit amet, consectetur apisictg dolore magna aliqua enad minim.</p> -->
								<ul class="social-bookmark">
									<!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google"></i></a></li>
									<li><a href="https://www.linkedin.com/company/constal"><i class="fab fa-linkedin-in"></i></a></li> -->
								</ul>
							</div>
						</div>
						<div class="col-sm-6 listing-1">
							<div class="ftr-listng">
								<h5>Most In-Demand Talent</h5>
								<div class="row">
									<div class="col-sm-6">
										<ul class="list-ul">
											<li><a>Architect</a></li>
											<li><a>BIM Modeler</a></li>
											<li><a>Structural Engineer</a></li>
											<li><a>Delay Analyst</a></li>
											<li><a>Quantity Surveyor </a></li>
											<li><a>Planner / Scheduler </a></li>
											<li><a>Lighting Designer</a></li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="list-ul">
											<li><a>Expert Witness</a></li>
											<li><a>Delivery Manager</a></li>
											<li><a>Civil Engineer </a></li>
											<li><a>QA/QC Engineer</a></li>
											<li><a>Sustainability Engineer</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-3">
							<div class="ftr-listng">
								<h5>About</h5>
								<ul class="list-ul">
									<li><a>Top Talent</a></li>
									<li><a>Clients</a></li>
									<li><a>Architect</a></li>
									<li><a>Delivery Manager</a></li>
									<li><a>Civil Engineer </a></li>
									<li><a>Planner / Scheduler </a></li>
								</ul>
							</div>
						</div> -->
						<div class="col-sm-3">
							<div class="ftr-listng">
								<h5>Contact</h5>
								<ul class="list-ul">
									<li class="privcy-li blue"><a routerLink="/privacy-policy">Privacy Policy</a></li>
									<li class="privcy-li blue"><a routerLink="/referral-signup">Referral Program</a></li>
									<!-- <li><a>Contact Us</a></li>
									<li><a>Press Center</a></li>
									<li><a>Careers</a></li>
									<li><a>FAQ</a></li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<div class="footer-copyright">
								<p class="mb-0">Copyright © <a> CONSTAL</a> 2021 All Right Reserved.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<ul class="icon_ftr text-right list-inline mb-0">
								<li class="list-inline-item">
									<a class="emal"><img src="assets/imgs/facebook.svg" class="img-fluid" /></a>
								</li>
								<li class="list-inline-item">
									<a class="appl"><img src="assets/imgs/twitter.svg" class="img-fluid" /></a>
								</li>
								<li class="list-inline-item">
									<a class="googl"><img src="assets/imgs/google.svg" class="img-fluid" /></a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.linkedin.com/company/constal" class="lnkd"><img src="assets/imgs/linkedin.svg" class="img-fluid" /></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</footer>
	</div>
</div>
<!-- <app-home-footer></app-home-footer> -->



