<app-intro-header></app-intro-header>
<main class="comon_main internal_pages_prnt">
    <div class="padding_internal">
        <section class="talent-profile profile-review home_page about-us">
            <div class="container">
                <div class="main-cntnt my-profile">
                    <div class="inside-wrapr">
                        <div class="prf-card">
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="top-head ">
                                            <div class="">
                                                <div class="prf-cntnt">
                                                    <h5>ABOUT US</h5>
                                                
                                                </div>
                                                <div class="policy-data">
                                                    <p>CONSTAL is a platform where construction professionals meet, work, collaborate and digitally revolutionize the construction industry.</p>
                                                    <p>
                                                        We are committed to connecting top construction industry Talents with diverse Clients across the globe. Our platform was started by industry experts who are disrupting the traditional way we work, to become more agile, more efficient, more instant, and digital. With CONSTAL you will save time, money and can be confident your project will be a success.
                                                    </p>
                                                    <p>
                                                        CONSTAL offers a wide spectrum of construction services, including: Architecture, Structure, Claims & Disputes, Expert Witness, Sustainability, QA/QC, and BIM. So no matter your discipline, you can find the people you need. You get an intuitive and modern digital experience that helps you build long-lasting partnerships.
                                                    </p>
                                                    <p>Take a look and join us for the construction industry’s digital future.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4">
                                    <div class="img-abt">
                                        <img class="" src="assets/imgs/about.jpg">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="inside-footer">
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>