<!-- <span class="menu-br" (click)="openNav()"><i class="fas fa-bars"></i></span> -->

<aside class="talent-settings-sidebar sidenav" id="mySidenav">
	<!-- <a class="closebtn" (click)="closeNav()">&times;</a> -->

	<div class="settngs-wrp prfile-settings">
		<div class="optns-wrap mb-4">
			<ul class="list_optns">
				<li class="active"><span>Categories & Skills</span></li>
                <li><span>Qualifications</span></li>
                <li><span>Accomplishments</span></li>
                <li><span>Experience</span></li>
                <li><span>Visibility & Preferences</span></li>
                <li><span>Profile Details</span></li>
			</ul>
		</div>
		
	</div>
</aside>
