<app-header></app-header>

<main class="comon_main internal_pages_prnt">
	
	<section class="user-profile">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 p-0">
					<div class="left-img">
						<img src="assets/imgs/1.png" class="img-fluid">
					</div>
				</div>
				<div class="col-sm-6 p-0">
					<div class="right-part">
						<div class="txt_card">
							<h3>Let's create your account</h3>
							<p>We make it easy for everyone to connect with the Talent all around.</p>
						</div>
						<div class="input-flds">
							<form>
								<div class="row">
									<div class="col-sm-6">
									      <div class="form-group input-group input-border-gray">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend3">
									          	<img src="assets/imgs/user.png" class="img-fluid">
									          </span>
									        </div>
									        <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="First name" aria-describedby="inputGroupPrepend3" required>
									        <div class="invalid-feedback">
									          *Please enter First Name
									        </div>
									    </div>
									</div>
									<div class="col-sm-6">
									      <div class="form-group input-group input-border-gray">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend3">
									          	<img src="assets/imgs/user.png" class="img-fluid">
									          </span>
									        </div>
									        <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Last name" aria-describedby="inputGroupPrepend3" required>
									        <div class="invalid-feedback">
									          *Please enter Last Name
									        </div>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
									      <div class="form-group input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend3">
									          	<img src="assets/imgs/@.png" class="img-fluid">
									          </span>
									        </div>
									        <input type="text" class="form-control is-invalid" id="validationServerUsername" value="james_fred@gmail.com" aria-describedby="inputGroupPrepend3">
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
									      <div class="form-group input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend3">
									          	<img src="assets/imgs/key.png" class="img-fluid">
									          </span>
									        </div>
									        <input type="text" class="form-control is-invalid" id="validationServerUsername" type="password" aria-describedby="inputGroupPrepend3" value="password">
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="check-fld">
											<div class="custom-control custom-checkbox">
										      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
										      <label class="custom-control-label" for="customCheck">Yes, I understand and agree to the Constal <span class="blue">Terms of Service,</span> including the User Agreement and <span class="blue">Privacy Policy</span></label>
											  </div>
										</div>
									</div>
								</div>
								<div class="submit-btn">
									<a class="btn btn_theme_blue my-2 my-sm-0">Create My Account</a>
								</div>
								<p class="already-acnt">Already have an Account? <span class="blue">Sign in here</span></p>
								<p class="text-gray contine-with">or continue with: 
									<span class="blue "> Linkedin </span>
									<span class="blue"> Google </span>
									<span class="blue"> Apple </span>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

<app-footer></app-footer>