
<app-talent-db-header></app-talent-db-header>
<main class="comon_main internal_pages_prnt">
	<div class="cmn-pading-top cl-dash mrgn-above">
		<section class="contact-info">
			<div class="d-flex">
				<app-talent-settings-sidebar></app-talent-settings-sidebar>
				<div class="main-wrapr">
					<div class="top-cntnt">
						<h5 class="mb-3">Notification Settings</h5>
					</div>
	                <div class="info-card">
	                	<header>
	                		<h6 class="mb-0">Messages</h6>
	                	</header>
	                	<div class="cntnt-insid crd-wrap">
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Desktop</h6>
	                			<div class="row align-items-center">
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label>Show notifications for: </label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
				                    <div class="col-sm-6">
				                    	<div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Also play a sound</label>
                                            </div>
                                        </div>
				                    </div>
                				</div>
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label>Increment message counter for: </label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Mobile</h6>
	                			<div class="row align-items-center">
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label>Show notifications for:</label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
				                    <div class="col-sm-6">
				                    	<div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Also play a sound</label>
                                            </div>
                                        </div>
				                    </div>
                				</div>
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label>Increment message counter for: </label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Email</h6>
	                			<p>(sending to s******02@gmail.com</p>
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label> Send an email with unread activity for:</label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
				                    <div class="col-sm-6">
	                					<div class="form-group">
					                        <label>opacity-0</label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
                				</div>
                				<div class="row">
                					<div class="col-sm-6">
				                    	<div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Only send when offline or idle</label>
                                            </div>
                                        </div>
				                    </div>
                				</div>
	                		</div>
	                	</div>
	                </div>
	                <div class="info-card">
	                	<header>
	                		<h6 class="mb-0">Other CONSTAL Email Updates</h6>
	                	</header>
	                	<div class="cntnt-insid crd-wrap">
	                		<div class="clnt-acnt singl-rw">
	                			<p>Send email notification to s******02@gmail.com when... </p>
	                			
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<h6>Recruiting</h6>
	                				</div>
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label>Receive recruiting emails for: </label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
                				</div>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A job is posted or modified</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A proposal is received</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An interview is accepted or offer terms are modified</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An interview or offer is declined or withdrawn</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An offer is accepted</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A job posting will expire soon</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A job posting expired </label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">No interviews have been initiated</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Talents and Agency</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An interview is initiated</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An offer or interview invitation is received</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">An offer or interview invitation is withdrawn</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A Proposal is rejected</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A job I applied to has been cancelled or closed</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A proposal is withdrawn</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<div class="row">
	                				<div class="col-sm-6">
	                					<h6>Contracts</h6>
	                				</div>
	                				<div class="col-sm-6">
	                					<div class="form-group">
					                        <label> Receive contract emails for: </label>
					                         <ngx-select-dropdown></ngx-select-dropdown>
					                    </div>
					                </div>
                				</div>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A hire is made or a contract begins</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Time logging begins</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Contract terms are modified</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A contract ends</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">A timelog is ready for review</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Feedback changes are made</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Daily snapshot of time recorded by your freelancers</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Weekly billing digest</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Other contract related messages</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Payment receipts and other financial related emails</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Groups & Invitations</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Group membership events occur</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Someone forwards me a freelancer's profile</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Someone sends me an invitation</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Team access is revoked</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Membership</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Subscription related event occur</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Miscellaneous</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">CONSTAL has a tip to help me start</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Notify me of CONSTAL events happening in my local area</label>
                                            </div>
	                					</div>
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Notify me of who viewed my job post</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Project</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Send recommendations if I qualify as top CONSTAL talent</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                		<div class="clnt-acnt singl-rw">
	                			<h6 class="mb-3">Communications from CONSTAL</h6>
	                			<div class="row">
	                				<div class="col-sm-12">
	                					<div class="check_box">
	                						<div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="example1">
                                              <label class="custom-control-label" for="customCheck">Send me genuinely useful emails every now and then to help me get the most out of CONSTAL</label>
                                            </div>
	                					</div>
					                </div>
	                			</div>
	                		</div>
	                	</div>
	                </div>
					<div class="inside-footer">
						<app-footer></app-footer>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>

