<header class="main_header comn-header internal_pages_header referral-header talent-hdr
">
	<div class="custom_container">
		<nav class="navbar navbar-expand-lg navbar-light">
		  	<a class="navbar-brand logo_hedr" href="#">
		  		<img src="assets/imgs/Constal.png" class="img-fluid" alt="Constal" />
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto rgt_header_btns justify-content-end">
			      	<li class="nav-item">
			      		<a routerLink="/referral-login" class="btn btn_referal my-2 my-sm-0 mr-2">Login</a>
						  <a routerLink="/referral-signup" class="btn btn_referal my-2 my-sm-0">Sign Up</a>
				    </li>
			    </ul>
		  	</div>
		</nav>
	</div>
</header>