<header class="main_header comn-header internal_pages_header talent-hdr">
	<div class="custom_container">
		<nav class="navbar navbar-expand-lg navbar-light">
		  	<a class="navbar-brand logo_hedr" href="#">
		  		<img src="assets/imgs/Constal.png" class="img-fluid" alt="Constal" />
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <!-- <ul class="navbar-nav mr-auto ml-5">
			      	<li class="nav-item active">
			        	<a class="nav-link" href="#">Find Talents</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="#">Post a Job</a>
			      	</li>
			    </ul> -->
			    <ul class="navbar-nav ml-auto rgt_header_btns justify-content-end">
					<li class="nav-item">
                        <a routerLink="/signup-talent" class="btn btn_theme_white my-2 my-sm-0">Apply to CONSTAL</a>
                    </li>
					<li class="nav-item">
                        <a routerLink="/talent-login" class="btn btn_theme_green my-2 my-sm-0">Login</a>
                    </li>
                    
			    </ul>
		  	</div>
		</nav>
	</div>
</header>