<span class="menu-br" (click)="openNav()"><i class="fas fa-bars"></i></span>
<aside class="talent-settings-sidebar sidenav" id="mySidenav">
	
	<a class="closebtn" (click)="closeNav()">&times;</a>
	
	<div class="optns-wrap">
		<ul class="list_optns">
			<li routerLink="/client-info"><span>My Info</span></li>
			<li routerLink="/client-billing"><span>Billing Methods</span></li>
			<li routerLink="/client-password"><span>Password & Security</span></li>
			<li routerLink="/client-membership"><span>Membership</span></li>
			<li routerLink="/client-notifications"><span>Notification Settings</span></li>
			<li routerLink="/client-permissions"><span>Members & Permissions</span></li>
			<li routerLink="/client-tax-info"><span>Tax Information</span></li>
			<li routerLink="/client-connected-services"><span>Connected Services</span></li>
		</ul>
	</div>
</aside>
