<app-intro-header></app-intro-header>
<main class="comon_main internal_pages_prnt">
    <div class="padding_internal">
        <section class="talent-profile profile-review home_page about-us">
            <div class="container">
                <div class="main-cntnt my-profile">
                    <div class="inside-wrapr">
                        <div class="prf-card">
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="top-head ">
                                            <div class="">
                                                <div class="prf-cntnt">
                                                    <h5>PRIVACY AND COOKIE POLICY</h5>
                                                    <h6>Effective 15 June 2021</h6>
                                                </div>
                                                <div class="policy-data">
                                                <h6 class="h6-hding"><b> 1. INTRODUCTION</b></h6>
                                                        <p>WHEN YOU USE OUR SITE AND SERVICES, YOU’RE TRUSTING US WITH YOUR
                                                            INFORMATION. WE UNDERSTAND THIS IS A BIG RESPONSIBILITY AND WORK HARD
                                                            TO PROTECT YOUR INFORMATION AND PUT YOU IN CONTROL.
                                                            - CONSTAL PORTAL. (“CONSTAL”, “We”, “Us”, or “Our”) are committed to protecting and
                                                            respecting your privacy.
                                                            - This Privacy Policy is meant to help you understand what information we collect, why we
                                                            collect it, and how you can update, manage, export, and delete your information.
                                                            - CONSTAL’s mission is to connect Professionals (“Professionals”) who wish to offer
                                                            construction, architectural, engineering and other services (“Professional Services”) and
                                                            Clients who need the Professional Services (“Clients”). Central to this mission is our
                                                            commitment to be transparent about the data we collect about you, how it is used and
                                                            with whom it is shared.
                                                            - This Privacy Policy applies when you use our Services (described in the Terms of
                                                            Service). We offer our users choices about the data we collect, use and share as
                                                            described in this Privacy Policy.
                                                            - Professionals and Clients share their professional identities, engage with their network,
                                                            exchange knowledge and professional insights, post and view relevant content, learn
                                                            and develop skills, and find business opportunities. Content and data on some of our
                                                            Services is viewable to non-members (“Visitors”).
                                                            - This Privacy Policy applies to www.myconstal.com, CONSTAL-branded apps,
                                                            communications and services, including off-site Services, such as our ad services and
                                                            plugins, but excluding services that state that they are offered under a different privacy
                                                            policy.
                                                            - CONSTAL will be the controller of your personal data provided to, or collected by or for,
                                                            or processed in connection with, our Services.
                                                            - As Professionals, Clients, or Visitors, the collection, use and sharing of your personal
                                                            data is subject to this Privacy Policy and other documents referenced in this Privacy
                                                            Policy, as well as updates.
                                                            - We can modify this Privacy Policy, and if we make material changes to it, we will provide
                                                            notice through our Services, or by other means, to provide you the opportunity to review
                                                            the changes before they become effective. If you object to any changes, you may close
                                                            your Account.
                                                            - You acknowledge that your continued use of our Services after we publish or send a
                                                            notice about our changes to this Privacy Policy means that the collection, use and
                                                            
                                                            sharing of your personal data is subject to the updated Privacy Policy, as of its effective
                                                            date.</p>
                                                        <h6 class="h6-hding"><b> 2. INFORMATION CONSTAL COLLECTS ABOUT YOU</b></h6>

    <p>- We may collect and process personal data about you because you give it to us, because
        other people give that data to us (for example, third party service providers that we use
        to help operate our business) or because it is publicly available.
        - The personal data that we collect or obtain may include: your name; age; date of birth;
        gender; e-mail address; home address; country of residence; lifestyle and social
        circumstances (for example, your pastimes); employment and education details (for
        example, the organization you work for, your job title and your education details); your IP
        address; your browser type and language; your access times; complaint details; details
        of how you use Our Services; details of how you like to interact with Us and other similar
        information.
        - If you provide Information to us by filling in forms on Our website this may include
        information provided at the time of registering, subscribing to any of Our services,
        posting material, sending messages and posting on the Site, making or receiving
        payments through your Escrow Accounts or requesting further services.
        - We may ask you for information when you report an issue or a concern, or we have or
        receive a complaint or query about you (whether or not a formal Dispute is raised)
        - If you provide information to us by filling in forms on our website this may include
        information provided at the time of registering, subscribing to any of our services, posting
        material, sending messages and posting on our website, giving reviews, making or
        receiving payments through your Escrow Account or requesting further services
        - We may ask you to complete surveys that we use for research purposes, although you
        do not have to respond to them details of the messages you send and receive using Our
        website including without limitation, when you sent or received a message and the
        contents of that message. Messages are not private and are not confidential.
        - You do not have a statutory obligation to provide Us with any information, but you may
        have a contractual obligation to do so, and if We do not receive certain information from
        you, then We will not be able to provide our Service to you.
        - We may collect or obtain personal data from you because We observe or infer that data
        about you from the projects you undertake, or the way you interact with Us or others. For
        example, to improve your experience when you use Our website and ensure that it is
        functioning effectively, we (or our service providers) may use cookies (small text files
        stored in a user’s browser) and Web beacons which may collect personal data.
        Additional information on how We use cookies and other tracking technologies and how
        you can control these can be found in our Cookie Notice below
        
        - We sometimes supplement the information that you provide with information received
        from third parties. For instance, credit reference agencies, search information providers,
        PayPal, other companies (subject to their privacy policies and applicable law), and from
        other accounts We have reason to believe you control (whether in part or in whole)
        - Where we are provided with personal data about you by any third party such as a
        service provider, we take steps to ensure that that third party has complied with the
        privacy laws and regulations relevant to that information; this may include, for example,
        that the third party has provided you with notice of the collection (and other matters) and
        has obtained any necessary consent (if applicable) for Us to process that information as
        described in this privacy statement. CONSTAL may use your personal data to gather
        feedback regarding your experience you may have with Our website. This helps our
        business grow by assembling useful information from Our end-user.</p>

    <h6 class="h6-hding"><b> 3. INFORMATION COLLECTED AUTOMATICALLY</b></h6>
    <p>
        - Like other online companies, we receive technical information when you use Our
    Services. We use these technologies to analyze how people use the Service, to improve
    how our Site functions, to save your log-in information for future sessions, and to serve
    you with advertisements that may interest you
    - We and our third-party service providers, including analytics and third-party content
    providers, may automatically collect certain information from you whenever you access
    or interact with Our website. This information may include, among other information, the
    browser and operating system you are using, the URL or advertisement that referred you
    to Our website, the search terms you entered into a search engine that led you to Our
    website, areas within Our website that you visited, which links you clicked on, which
    pages or content you viewed and for how long, other similar information and statistics
    about your interactions, such as content response times, download errors and length of
    visits to certain pages and other information commonly shared when browsers
    communicate with websites.
    </p>
    <h6 class="h6-hding"><b> 4. COOKIES AND SIMILAR TECHNOLOGIES</b></h6>
    <p>
    - As further described in our Cookie Notice below, We use cookies and similar
    technologies (e.g., pixels and ad tags) to collect data (e.g., device IDs) to recognize you
    and your device(s) on, off and across different? services and devices where you have
    engaged with Our website? We also allow some others to use cookies as described in
    Our Cookie Notice.</p>
    <h6 class="h6-hding"><b> 5. HOW WE USE YOUR DATA</b></h6>
    <p>
    - We will use your personal data to fulfil your requests and We will ask only for data that is
    adequate, relevant and not excessive for those purposes. Where We send you
    information for any purpose, it may be sent by e-mail or post. When We ask you for
    personal data it may include the following purposes:

    - We may contact you occasionally to inform you of new services we will be providing, we
    may send you regular updates on issues we think will be of interest to you, we may send
    you requested information on Our services, we may use your personal data for
    marketing purposes and market research; we may use your personal data internally to
    provide you with the services offered by Us via Our website, to administer this website
    and to help Us improve Our services, we may use your personal data for managing and
    making information available to third party service providers (e.g. providers of due
    diligence services or in order to support our information technology) and our affiliates
    - We may use your personal data to allow you to participate in interactive features of Our
    service when you choose to do so;
    - We may use your personal data to notify you about changes to Our services, terms and
    conditions, policies or website
    - We may use your personal data to manage risk, or to investigate, detect, prevent, and/or
    remediate fraud, suspected fraud or other potentially illegal or prohibited activities
    - We may use your personal data pursuant to applicable legal or regulatory requirements
    or to respond to requests and communications from competent authorities (including
    courts and tribunals)
    - We may use your personal data for the services we receive from Our professional
    advisors, such as lawyers, accountants and consultants
    - We may use your personal data for protecting our rights, those of Our clients, or
    protecting those of Our affiliates.
    - None of the information that we request from you is mandatory. However, where such
    information is not provided to us, CONSTAL may be unable to identify, protect, or return
    your money or assets.
    </p>
    <h6 class="h6-hding"><b>6. HOW WE SHARE INFORMATION</b></h6>
    <p>
    - Professionals and Clients may create a profile, with certain or all information publicly
    available, you may have the opportunity to create a profile, which consists of information
    about you, and may include personal data, photographs, examples of your work,
    information on work previously performed via Our website and outside Our website,
    skills, tests taken, test scores, hourly pay rates and earnings information,
    feedback/rating information and other information, including your username (“Profile”).
    The information in your Profile may be visible to all CONSTAL Users and the general
    public subject to the privacy choices you make within your Profile. You may edit certain
    information in your Profile via your account and may choose to limit who is able to view
    certain content you post to your Profile.
    - Before a Professional or a Client can complete registration on Our website, or at any
    time thereafter, we may request or re-request identity verification. Without limiting the
    manner in which We request identify verification, we may require Professionals and

    Clients to participate in a video call after submitting their government issued ID to enable
    Us to confirm that the Professional or Client is indeed the individual in the ID. We may
    record such video calls and take screenshots of the User during the call.
    - CONSTAL may use the information obtained from Identity Verification for purposes of
    verifying your identity, enforcing our Terms of Service and other agreements, and
    preventing fraud
    - Professionals and Clients may communicate with each other through Our website. For
    example, Professionals and Clients may wish to discuss Client needs and Professional
    work proposals. If you communicate with a Client, that Client will also be a “data
    controller” with respect to such communications
    - We collect feedback from CONSTAL Users about their experience with other CONSTAL
    Users of Our website. Please note that any feedback you provide via Our website or
    feedback provided about you is publicly viewable via Our website. On very rare
    occasions, we may remove feedback pursuant to the relevant provisions of our Terms of
    Service, including the Terms of Use
    - You may register for an account directly with Our website, or through a social networking
    service. If you register with a social networking service (or later link your Account to
    one), We will collect certain information about you from that social networking service,
    and what We collect depends on your privacy settings with that social networking
    service. Our website may also allow you to “like” or share content with social networking
    services.</p>
    <h6 class="h6-hding"><b>7. DATA RETENTION</b></h6>
    <p>

    - Unless you request that we delete certain information, We retain the information you
    submit to verify your identity for 15 days and We retain other information We collect for
    at least 5 years. Your information may persist in copies made for backup and business
    continuity purposes for additional time. If you choose to provide Us with personal data,
    we encourage you to routinely update the data to ensure that we have accurate and up-
    to-date information about you.
    </p>
    <h6 class="h6-hding"><b>8. RIGHTS TO ACCESS AND CONTROL YOUR PERSONAL DATA</b></h6>
    <p>
    - We provide many choices about the collection, use and sharing of your data, from
    deleting or correcting data you include in your profile and controlling the visibility of your
    posts to advertising opt-outs and communication controls. We offer you settings to
    control and manage the personal data we have about you.
    - For personal data that we have about you, you can:
    i. Delete Data: You can ask Us to erase or delete all or some of your
    personal data (e.g., if it is no longer necessary to provide Services to
    you).

    ii. Change or Correct Data: You can edit some of your personal data
    through your Account. You can also ask Us to change, update or fix your
    data in certain cases, particularly if it’s inaccurate.

    iii. Object to, or Limit or Restrict, Use of Data: You can ask Us to stop using
    all or some of your personal data (e.g., if we have no legal right to keep
    using it) or to limit Our use of it (e.g., if your personal data is inaccurate or
    unlawfully held) Right to Access and/or Take Your Data: You can ask Us
    for a copy of your personal data and can ask for a copy of personal data
    you provided in machine readable form.
    </p>
    <h6 class="h6-hding"><b>9. ACCOUNT CLOSURE</b></h6>
    <p>
    - If you choose to close your Account, your personal data will generally stop being visible
    to others on Our website within 72 hours. We generally delete closed account
    information within 30 days of account closure, except as noted below.
    - We retain your personal data even after you have closed your account if reasonably
    necessary to comply with Our legal obligations (including law enforcement requests),
    meet regulatory requirements, resolve disputes, maintain security, prevent fraud and
    abuse, enforce Our User Agreement, or fulfill your request to &quot;unsubscribe&quot; from further
    messages from us. We will retain de-personalized information after your account has
    been closed.
    - Information you have shared with other Users will remain visible after you close your
    Account or delete the information from your own profile or mailbox, and We do not
    control data that other Users have copied out of Our website. Groups content and
    ratings or review content associated with closed accounts will show an unknown User as
    the source. Your profile may continue to be displayed to other Users (e.g., search engine
    results) until they refresh their cache.
    </p>
    <h6 class="h6-hding"><b>10. UNSUBSCRIBE</b></h6>
    <p>
    - We may, from time to time, e-mail or post you information to make you aware of our
    other similar services which may be of interest to you. If you do not wish to receive
    emails or post from Us for these purposes, or if you want to be removed from Our
    electronic mailing list you can either select “unsubscribe” from any of the marketing
    emails that we send or alternatively contact Us.
    </p>
    <h6 class="h6-hding"><b>11. LINKS TO OTHER WEBSITES</b></h6>
    <p>
    - Our website may contain hyperlinks to websites that are not operated by Us, these
    hyperlinks are provided for your reference and convenience only and do not imply any
    endorsement of the activities of these third-party websites or any association with their
    operators. We do not control these websites and are not responsible for their data or
    privacy practices. We urge you to review any privacy policy posted on any site you visit
    before using the site or providing any personal data about yourself.</p>
    <h6 class="h6-hding"><b>12. COOKIE NOTICE</b></h6>
    <p>
    - We may use temporary &quot;cookies&quot; and similar technologies (e.g. web beacons, pixels, ad
    tags and device identifiers) to recognize you and/or your device(s) that remain in the
    cookies file of your browser until the browser is closed. We use the information to
    compile reports and to help Us improve Our website. The cookies collect information in
    an anonymous form, including the number of visitors to the website, where visitors have
    come to the website from and the pages they visited. Please note that the names of
    cookies, pixels and other technologies may change over time.
    - Cookies by themselves cannot be used to discover the identity of a User. A cookie is a
    small piece of information which is sent to your browser and stored on your computer&#39;s
    hard drive.
    - Cookies do not damage your computer. You can set your browser to notify you when
    you receive a cookie. This enables you to decide if you want to accept it or not. We also
    use your IP address to help diagnose problems with Our server and to administer Our
    website. An IP address is a numeric code that identifies your computer on a network, or
    in this case, the internet. Your IP address is also used to gather broad demographic
    information.
    - Cookies are useful because they allow a website to recognize a user’s device,
    preferences and generally help to improve your online experience.
    - By using Our website, you agree that we can place cookies on your device. If you want
    to restrict or block any cookies, you should do this through the web browser settings for
    each browser you use and, on each device, you use to access the internet.
    - Please be aware that some areas of Our website may not function if your web browser
    does not accept cookies. However, you can allow cookies from specific websites by
    making them &quot;trusted websites&quot; in your web browser. The &quot;Help&quot; function within your
    web browser should tell you how to make these changes.
    </p>
    <h6 class="h6-hding"><b>13. DISCLOSURE OF YOUR PERSONAL DATA</b></h6>
    <p>
    - We may disclose details about you to: Our affiliates; third parties that provide services to
    Us and/or Our affiliates, such as Our lawyers; competent authorities (including courts
    and supervisory or other authorities); your advisers or where applicable, your employer;
    credit reference agencies or other organizations that help Us make decisions and reduce
    the incidence of fraud; and other third parties that reasonably require access to personal
    data relating to you.
    - Where you have chosen to connect your CONSTAL Account to your Facebook or
    LinkedIn account we may share, disclose, and transfer personal data to Facebook or
    LinkedIn, as applicable. This permission will be requested when you connect your
    Accounts. If you have given this permission you may then disable this function at any
    time by changing your Facebook, LinkedIn or CONSTAL account settings (as
    applicable).

    - Where appropriate, before disclosing personal data to a third party, we contractually
    require the third party to take adequate precautions to protect that data and to comply
    with applicable law.
    - Where you have consented, we may also share your personal data with other
    companies within Our group of companies who may contact you about their services that
    may interest you.
    </p>
    <h6 class="h6-hding"><b>14. PROTECTION OF YOUR PERSONAL DATA</b></h6>
    <p>
    - All CONSTAL personnel accessing personal data must comply with the internal rules
    and processes in relation to the processing of personal data to protect them and ensure
    the confidentiality of such information.
    - We have also implemented adequate technical and organizational measures to protect
    personal data against unauthorized, accidental or unlawful destruction, loss, alteration,
    misuse, disclosure or access and against all other unlawful forms of processing. These
    security measures have been implemented taking into account the state of the art of the
    technology, their cost of implementation, the risks presented by the processing and the
    nature of the personal information, with particular care for sensitive information.
    - Although We use appropriate security measures once We have received your personal
    data, the transmission of data over the internet (including by e-mail) is never completely
    secure. We endeavor to protect personal data, but we cannot guarantee the security of
    data transmitted to Us or by Us.
    </p>
    <h6 class="h6-hding"><b>15. YOUR RIGHTS</b></h6>
    <p>
    - You have various rights in relation to your personal data. In particular, you have a right
    to: request a copy of personal data We hold about you
    - ask that We update the personal data We hold about you, or correct such personal data
    that you think is incorrect or incomplete
    - ask that we delete personal data that We hold about you, or restrict the way in which We
    use such personal data
    - object to Our processing of your personal data
    - ask that we restrict Our processing of your personal data; and
    - ask for the portability of personal data - receive the personal data you have provided to
    Us in a structured, commonly used and machine-readable form and transmit it to another
    data controller.
    - To exercise any of your rights, or if you have any other questions about our use of your
    personal data, please contact us at contact@myconstal.com.
    </p>
    <h6 class="h6-hding"><b>16. CHANGES TO OUR PRIVACY AND COOKIE POLICY</b></h6>
    <p>

    - We may modify or amend this Privacy and Cookie Policy from time to time, to let you
    know when we make changes to this Privacy and Cookie Policy, we will amend the
    revision date at the end of this page.
    - The new modified or amended Privacy and Cookie Policy will apply from that revision
    date. Therefore, we encourage you to periodically review this policy to be informed about
    how we are protecting your information.
    </p>
    <h6 class="h6-hding"><b>17. CONTACT</b></h6>
    <p>
    - If you have any questions, comments or requests regarding this privacy statement
    contact Us at contact@myconstal.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inside-footer">
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>