<aside class="client-sidebar">
	<ul class="list_optns">
		<li routerLinkActive="active blue_text" routerLink="/getting-started"><span>Getting Started</span></li>
		<li routerLinkActive="active blue_text" routerLink="/post-title"><span>Job Info</span></li>
		<li routerLinkActive="active blue_text" routerLink="/visibility-talent-preferences"><span>Contract Preferences</span></li>
		<li routerLinkActive="active blue_text" routerLink="/talent-preferences">
			<span>Talents Preferences</span>
			<ul class="sub-bar">
				<li class="active_text">Talent 1</li>
				<li>Talent 2</li>
				<li>Talent 3</li>
			</ul>
		</li>
	</ul>
</aside>
