<div *ngIf="isLoading" class="uploader-status" id="spin">
	<mat-spinner diameter="30"></mat-spinner>
</div>
<app-header></app-header>
<main class="comon_main internal_pages_prnt">
	<div class="cmn-pading-top">
		<section class="user-profile user-login forgot-password">
			<div class="custom_container">
				<div class="card_socal">
					<div class="row align-items-center">
						<div class="col-sm-12 p-0">
							<div class="right-part">
								<div class="txt_card">
									<h3>Reset Password?</h3>
									<p>Please enter new password below.</p>
								</div>
								<div class="input-flds">
									<form [formGroup]="form">
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group input-group input-border-gray">
													<div class="input-group-prepend">
														<span class="input-group-text" id="inputGroupPrepend3">
															<img src="assets/imgs/key-gray.png" class="img-fluid">
														</span>
													</div>
													<input [type]="password" formControlName="password" (keyup)="changePassword()" class="form-control is-invalid" id="password" aria-describedby="inputGroupPrepend3" placeholder="Enter New Password">
													<span class="password-eye green" (click)="onClickEye()">
														<i class="fa fa-eye" *ngIf="!show"></i>
														<i class="fa fa-eye-slash" *ngIf="show"></i>
													</span>
													<div *ngIf="(form.get('password').touched || form.get('password').dirty) && form.get('password').invalid && form.get('password').errors.required" class="invalid-feedback">
														*Please enter Password
													</div>
													<div *ngIf="(form.get('password').touched || form.get('password').dirty) && form.get('password').invalid && form.get('password').errors.minlength" class="invalid-feedback">
														*Please must be greater than 8 characters
													</div>
													<div *ngIf="(form.get('password').touched || form.get('password').dirty) && password_status" class="invalid-feedback">
														{{ password_status }} password
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
													<div class="form-group input-group input-border-gray">
													<div class="input-group-prepend">
														<span class="input-group-text" id="inputGroupPrepend3">
														<img src="assets/imgs/key-gray.png" class="img-fluid">
														</span>
													</div>
													<input [type]="password1" id="confirm-password" formControlName="confirm_password" class="form-control is-invalid"  aria-describedby="inputGroupPrepend3" placeholder="Confirm New Password">
													<span class="password-eye green" (click)="onClickEye1()">
														<i class="fa fa-eye" *ngIf="!show1"></i>
														<i class="fa fa-eye-slash" *ngIf="show1"></i>
													</span>
													<div *ngIf="(form.get('confirm_password').touched || form.get('confirm_password').dirty) && form.get('confirm_password').invalid && form.get('confirm_password').errors.required" class="invalid-feedback">
														*Please enter Password
													</div>
													<div *ngIf="(form.get('confirm_password').touched || form.get('confirm_password').dirty) && form.get('confirm_password').invalid && form.get('confirm_password').errors.minlength" class="invalid-feedback">
														*Please must be greater than 8 characters
													</div>
													<div *ngIf="(form.get('confirm_password').touched || form.get('confirm_password').dirty) && form.get('confirm_password').invalid && !form.get('confirm_password').errors.required && !form.get('confirm_password').errors.minlength && form.get('confirm_password').errors.notSame" class="invalid-feedback">
														*Password not same
													</div>
												</div>
											</div>
										</div>
										<div class="submit-btn btn-width text-center">
											<button class="btn btn_theme_green my-2 my-sm-0" [disabled]="!form.valid" (click)="resetPassword()">
												
												<span *ngIf="!isLoading">
													Submit
												</span>										
												
												<!-- <div *ngIf="isLoading" class="uploader-status" id="spin">
													<mat-spinner diameter="30"></mat-spinner>
												</div> -->
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</main>

<app-footer></app-footer>