<footer class="main_header internal_pages_header main-footer talent-hdr">
	<div class="custom_container">
		<div class="row">
			<div class="col-sm-12">
				<p class="copyrigt_p mb-0 text-center">@ Copyright 2021. All right reserved to Constal</p>
			</div>
			<!-- <div class="col-sm-6">
				<ul class="icon_ftr text-right list-inline mb-0">
					<li class="list-inline-item">
						<a class="emal"><img src="assets/imgs/facebook.svg" class="img-fluid" /></a>
					</li>
					<li class="list-inline-item">
						<a class="appl"><img src="assets/imgs/twitter.svg" class="img-fluid" /></a>
					</li>
					<li class="list-inline-item">
						<a class="googl"><img src="assets/imgs/google.svg" class="img-fluid" /></a>
					</li>
					<li class="list-inline-item">
						<a class="lnkd"><img src="assets/imgs/linkedin.svg" class="img-fluid" /></a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</footer>