<div class="home_header">
	<app-home-header></app-home-header>
</div>
<div class="main_outer home_page">
	<div class="padding_internal">
		<section class="main-sec d-flex align-items-center">
			<div class="container">
				<div class="inside_sec">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<div class="left-cntnt">
								<p class="title">Hire the world's best <strong>Construction Talents</strong> on Demand</p>
								<p class="sub-title">CONSTAL is a platform where construction professionals meet, work, collaborate and digitally revolutionize the construction industry.</p>
								<a class="btn btn_theme_green header-butns">Hire a Construction Talent</a>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image text-right">
								<img class="img-fluid" src="assets/imgs/Picture1.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-features scale-bg-top scale-bg-bottom">
			<div class="container">
				<!-- <div class="title text-center mb-5">
					<h4>Our Features</h4>
				</div> -->
				<div class="section-head text-center">
                    <h4 class="text-uppercase">Our Features</h4>
                    <div class="wt-separator-outer mb-2">
                        <div class="wt-separator style-square">
                            <span class="separator-left"></span>
                            <span class="separator-right"></span>
                        </div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
               </div>
				<div class="slide-img">
					<div class="row">
						<div class="col-sm-5">
							<div class="imag">
								<img src="assets/imgs/about.jpg" class="img-fluid">
							</div>
						</div>
						<div class="col-sm-7">
							<div class="features-images">
								<div class="row">
									<div class="col-sm-6">
										<div class="card mb-3">
											<div class="ft-img">
												<img src="assets/imgs/worker.png" class="img-fluid">
											</div>
											<div class="imag-cntnt">
												<h6>Professional Builders</h6>
												<p>Lorem ipsum dolor sit amet ingine seda do eiusmod incididunt ut labore dolore magna dolor aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card mb-3">
											<div class="ft-img">
												<img src="assets/imgs/pen.png" class="img-fluid">
											</div>
											<div class="imag-cntnt">
												<h6>Passionate With Work</h6>
												<p>Lorem ipsum dolor sit amet ingine seda do eiusmod incididunt ut labore dolore magna dolor aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="ft-img">
												<img src="assets/imgs/ribbon.png" class="img-fluid">
											</div>
											<div class="imag-cntnt">
												<h6>High Quality</h6>
												<p>Lorem ipsum dolor sit amet ingine seda do eiusmod incididunt ut labore dolore magna dolor aliqua.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="ft-img">
												<img src="assets/imgs/customer-service-agent.png" class="img-fluid">
											</div>
											<div class="imag-cntnt">
												<h6>Great Support Team</h6>
												<p>Lorem ipsum dolor sit amet ingine seda do eiusmod incididunt ut labore dolore magna dolor aliqua.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="lndng_srvcs bg-light">
            <div class="container">
                <!-- <div class="r_srvs text-center">
                    <h1 class="hdng_clr">Our <span>Services</span></h1>
                </div> -->
                <div class="section-head text-center">
                    <h4 class="text-uppercase">Our Services</h4>
                    <div class="wt-separator-outer mb-2">
                        <div class="wt-separator style-square">
                            <span class="separator-left"></span>
                            <span class="separator-right"></span>
                        </div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
               </div>
                <div class="lndsrvcs_inner">
                    <div class="row">
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_1 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/data.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>Prepare Tender Programme</h6>
                                    <p>We have conveyed software development services and made useful stable applications with super easy to use interfaces.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_2 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/ui.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>Evaluate Baseline</h6>
                                    <p>Our software development services incorporate UI and UX plan of a web or mobile application interface which gives a first rate user experience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_3 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/debug.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>Constructability Check</h6>
                                    <p>Rest soundly. Since our organization ensures the soundness and high efficiency of your product. Our team consolidates quality assurance and testing activities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_4 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/coding.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>BIM 3D Smulation</h6>
                                    <p>Our native application development administrations are made in accordance with the most recent design trends and follow UI/UX principles.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_5 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/structure.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>BIM 4D Simulation</h6>
                                    <p>For customers who need to augment the exhibition of their present AWS foundation or fabricate one without any preparation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sd_dsgn">
                            <div class="lndsrvc_all lndsrvc_6 text-center">
                                <div class="srvc_icn">
                                    <img src="assets/imgs/server.png" class="img-fluid">
                                </div>
                                <div class="srvc_txt">
                                    <h6>5D Take of Quantity</h6>
                                    <p>We guarantee the quality, adaptability and high speed of your application to the end-client with the assistance of well-settled DevOps practices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="companies-list d-flex align-items-center">
			<p>Trusted by leading brands and startups</p>
			<div class="listing">
				<span>
					<img src="assets/imgs/aecomm2.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/amana.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/hochtief.png" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/rta.jpeg" alt="logo" class="img-fluid">
				</span>
				<span>
					<img src="assets/imgs/hill.png" alt="logo" class="img-fluid">
				</span>
			</div>
		</div>
		<!-- <section class="our-services scale-bg-top">
			<div class="container">
				<div class="title text-center mb-5">
					<h4>Our Services</h4>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box-wrap card">
							<div class="icn-lg">
								<i class="icofont-worker"></i>
							</div>
							<div class="icn-cntnt">
								<h6>Prepare Tender Programme</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<section class="job-categories scale-bg-top">
			<div class="container">
				<div class="catgry-wrapr">
					<div class="section-head text-center">
	                    <h4 class="text-uppercase">Job Categories</h4>
	                    <div class="wt-separator-outer mb-2">
	                        <div class="wt-separator style-square">
	                            <span class="separator-left"></span>
	                            <span class="separator-right"></span>
	                        </div>
	                    </div>
	                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
	               </div>
					<div class="row">
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="small-category d-flex align-items-center justify-content-between">
								<div class="small-category-thumb themes-light">
									<a><i class="icofont-worker"></i></a>
								</div>
								<div class="sc-detail">
									<h5 class="sc-jb-title"><a>Construction / Facilities</a></h5>
									<span class="jobs-no">6 new job</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cmn-btn text-center">
						<a class="btn btn_theme_blue">Browse All Category <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</section>
		<section class="landng-image-bg image-light text-center position-relative">
				<div class="container">
					<div class="row justify-content-center mb-4">
						<div class="col text-center">
							<div class="sec-heading light mx-auto">
								<p>How We Work?</p>
								<h2>Our Working Process</h2>
							</div>
						</div>
					</div>
					<div class="row m-0">
						<!-- Video -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="video-block">
								<div class="video-play-icon">
									<a data-toggle="modal" data-target="#popup-video"><i class="fa fa-play" aria-hidden="true"></i></a>
								</div>
							 </div>
						</div>
					</div>
				</div>
		</section>
		<section class="talent-reviews gray">
				<div class="container">
					 <div class="section-head text-center">
	                    <h4 class="text-uppercase">Client Testimonials</h4>
	                    <div class="wt-separator-outer mb-2">
	                        <div class="wt-separator style-square">
	                            <span class="separator-left"></span>
	                            <span class="separator-right"></span>
	                        </div>
	                    </div>
	                    <p>What People Saying?</p>
	               </div>
					<owl-carousel-o [options]="talent_slider">
                        <ng-template carouselSlide>
							<div class="testimonial-wrap">
								<div class="client-thumb-box">
									<div class="client-thumb-content">
										<div class="client-thumb">
											<img src="assets/imgs/user-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<h6 class="">Gill Wormdom</h6>
										<span>SEO Mind LTD CEO</span>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
									</div>
								</div>
								
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
								
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="testimonial-wrap">
								<div class="client-thumb-box">
									<div class="client-thumb-content">
										<div class="client-thumb">
											<img src="assets/imgs/user-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<h6 class="">Gill Wormdom</h6>
										<span>SEO Mind LTD CEO</span>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
									</div>
								</div>
								
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
								
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="testimonial-wrap">
								<div class="client-thumb-box">
									<div class="client-thumb-content">
										<div class="client-thumb">
											<img src="assets/imgs/user-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<h6 class="">Gill Wormdom</h6>
										<span>SEO Mind LTD CEO</span>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
									</div>
								</div>
								
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
								
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="testimonial-wrap">
								<div class="client-thumb-box">
									<div class="client-thumb-content">
										<div class="client-thumb">
											<img src="assets/imgs/user-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<h6 class="">Gill Wormdom</h6>
										<span>SEO Mind LTD CEO</span>
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
									</div>
								</div>
								
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
								
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
		</section>

	</div>
</div>
<app-footer></app-footer>

<!-- video modal -->
<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	         	<span aria-hidden="true">&times;</span>
	        </button>
	      	<div class="modal-body p-0">
	      		<div class="video_mod">
	      			<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/U8waVSCpx4c?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1" frameborder="0" mute=1 muted=1 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe> -->
	      			<iframe width="853" height="480" src="https://www.youtube.com/embed/JxlrCQFlgnM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
	      			
	      		</div>
	      	</div>
	    </div>
  	</div>
</div>
<!-- video modal /-->